.vscode/

*.pyc

*.csv
test1.py
test2.py
test3.py

code_wb/flask_study/examples/output/
*.sqlite3

# temp
mpc_job_utils.py

code_wb/ppc_grpc/proto/*.py
code_wb/ppc_grpc/proto/*.pyi

code_wb/ppc_grpc/*.crt
code_wb/ppc_grpc/*.key
code_wb/ppc_grpc/*.pem
code_wb/ppc_grpc/key/*
